<% bodyContent = `
<form action="/change-password" method="post">
  <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
    <h1 class="lead fw-normal mb-0 me-3">Change Password</h1>
    <p class="text-center fw-bold mx-3 mb-0">Enter your verification code</p>
  </div>
  <!-- Password input -->
  <div data-mdb-input-init class="form-outline mb-3">
    <input type="password" id="form3Example4" class="form-control form-control-lg" placeholder="Enter New Password"
      name="new_password">
  </div>
  <div data-mdb-input-init class="form-outline mb-3">
    <input type="password" id="form3Example4" class="form-control form-control-lg" placeholder="Confirm Password"
      name="confirm_password">
  </div>
  <div class="text-center text-lg-start mt-4 pt-2">
    <button type="submit" class="btn btn-primary btn-lg" style="padding-left: 2.5rem; padding-right: 2.5rem;">Next</button>
    <p class="medium fw-bold mt-2 pt-1 mb-0">Cancel process --- <a href="#" class="link-danger">X</a></p>
  </div>
</form>
` %>
<%- include('partials/layout', { pageTitle: 'Change Password', imageUrl: '/step3.png', bodyContent: bodyContent }) %>
