<% bodyContent = `
<form action="/forget-password" method="post">
  <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
    <h1 class="lead fw-normal mb-0 me-3">Forget Password</h1>
    <p class="text-center fw-bold mx-3 mb-0">Enter your email address</p>
  </div>
  <!-- Email input -->
  <div data-mdb-input-init class="form-outline mb-4">
  <input type="text" id="form3Example3" class="form-control form-control-lg" placeholder="Enter User Email" name="user_email">
  </div>
  <div class="text-center text-lg-start mt-4 pt-2">
    <button type="submit" class="btn btn-primary btn-lg" style="padding-left: 2.5rem; padding-right: 2.5rem;">Next</button>
    <p class="medium fw-bold mt-2 pt-1 mb-0">Cancel process --- <a href="/login" class="link-danger">X</a></p>
  </div>
</form>
` %>
<%- include('partials/layout', { pageTitle: 'Forget Password', imageUrl: '/step1.png', bodyContent: bodyContent }) %>
