<% bodyContent = `
<form action="/signup" method="post">
  <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
    <h1 class="lead fw-normal mb-0 me-3">Register to ToxiCheck</h1>
    <p class="text-center fw-bold mx-3 mb-0">Create your account</p>
  </div>
  <!-- User name input -->
  <div data-mdb-input-init class="form-outline mb-4">
    <input type="text" id="form3Example3" class="form-control form-control-lg" placeholder="Enter User Name" name="user_name">
  </div>
  <!-- Email input -->
  <div data-mdb-input-init class="form-outline mb-4">
    <input type="text" id="form3Example3" class="form-control form-control-lg" placeholder="Enter User Email" name="user_email">
  </div>
  <!-- Password input -->
  <div data-mdb-input-init class="form-outline mb-3">
    <input type="password" id="form3Example4" class="form-control form-control-lg" placeholder="Enter password" name="password">
  </div>
  <div class="text-center text-lg-start mt-4 pt-2">
    <button type="submit" class="btn btn-primary btn-lg" style="padding-left: 2.5rem; padding-right: 2.5rem;">Register</button>
    <p class="medium fw-bold mt-2 pt-1 mb-0">Already have an account? <a href="/login" class="link-danger">Login</a></p>
  </div>
</form>
` %>
<%- include('partials/layout', { pageTitle: 'Register', imageUrl: '/registerimg.png', bodyContent: bodyContent }) %>

