html {
  min-height: 100%;
  position: relative;
}

body {
  font-family: 'Bitter', Arial, sans-serif; 
}

h1, h2, h3, h4, h5, h6, .post-title {
  font-family: 'Bitter', serif; 
}

.container {
  width: 90%;
  margin: 0 auto;
  padding: 20px;
}

.post-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.post {
  border: 1px solid #ddd;
  padding: 20px;
  padding-top: 1px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  transition: transform 0.3s ease;
}

.post:hover {
  transform: translateY(-10px);
}

.post h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.post-title {
  color: #333;
  text-decoration: none;
  font-family: 'Bitter', serif; 
  font-weight: bold;
}

.post-image-link {
  display: block;
  margin-bottom: 15px;
  flex-grow: 1;
}

.post-image {
  width: 100%;
  height: auto;
  display: block;
}

.post p {
  font-size: 1em;
  line-height: 1.5em;
  color: #666;
  text-align: justify;
  word-wrap: break-word; 
  overflow-wrap: break-word; 
}

.continue-reading {
  color: #0066cc;
  text-decoration: none;
  font-weight: bold;
  text-align: center;
  display: block;
  margin-top: auto;
  padding-top: 10px;
}

.continue-reading:hover {
  text-decoration: underline;
}

.edit-delete {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.edit, .delete {
  background-color: #F7B801;
  border: none;
  padding: 10px 15px;
  text-decoration: none;
  color: #333;
  font-size: 0.9em;
  border-radius: 3px;
  width: 45%; 
  text-align: center;
}

.delete {
  background-color: #D33F49;
  margin-right: 0;
}

.edit:hover, .delete:hover {
  background-color: #ddd;
}
.post-new {
  margin-bottom: 20px;
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 1em;
  outline: none;
  transition: border 0.3s;
}

.post:focus {
  border-color: #007bff;
}

.container-fluid {
  max-width: 1100px;
  margin: auto;
  padding: 20px;
}

.h-custom {
  height: 100vh;
}

.form-control {
  border: 1px solid #666;
  color: black;
  height: 45px;
  font-size: 16px;
  padding: 5px 10px;
  width: 100%;
  max-width: 500px;
  margin-bottom: 3px;
}

.form-outline {
  margin-bottom: 20px;
}

.btn-primary {
  width: 100%;
  padding: 10px;
  background-color: #0056b3;
  margin-top: 20px;
}

.btn-primary:hover {
  background-color: #00408d;
}

.divider p {
  color: #aaa;
}

.btn-floating {
  width: 40px;
  height: 40px;
  line-height: 40px;
}

.bg-primary {
  padding: 10px 0;
}

.post-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn {
  text-decoration: none;
  color: #fff;
  padding: 5px 5px;
  font-size: 0.9em;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.justified {
  text-align: justify;
}

ul {
  list-style-type: none;
}

li {
  padding: 20px 0;
  border-bottom: 1px solid #eee;
}

li:last-child {
  border-bottom: none;
}

.container-fluid {
  padding-top: 70px;
  padding-bottom: 70px;
}

.logout-container {
  text-align: right;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #66999B;
}

.logout-link {
  color: #001514;
  font-size: 15px;
  text-decoration: none;
}

.logout-link:hover {
  color: #8E3B46;
}

.navbar {
  padding-top: 0px;
  padding-bottom: 0px;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  font-size: 13px;
  letter-spacing: 7px;
}

.navbar-default {
  background-color: #0056b3;
}

.navbar-brand {
  color: white !important;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 30px;
}

.navbar-right {
  margin-top: -30px;
  margin-left: 200px;
  float: left !important;
}

.navbar-nav {
  padding-top: 0px;
}

.navbar-nav li a {
  color: white !important;
}

.navbar-nav li a:hover {
  color: #1abc9c !important;
}

.navbar-nav .separator {
  border-left: 1px solid white;
  height: 40px;
  margin-top: 27px;
}

#contact{
padding-right: 30px;
}
#addpost {
  font-size: 16px;
  padding-left: 10px;
}

#logout {
  padding-left: 25px;
}

.footer-padding {
  padding-bottom: 60px;
}

.normal {
  color: black;
}
.toxic {
  color: white;
  background-color: #cf5e54;
}

.severe-toxic {
  color: white;
  background-color: darkred;
}

.threat {
  color: white;
  background-color: #7b403b;
}

.insult {
  color: white;
  background-color: #ba6861;
}

.identity_hate {
  color: white;
  background-color: #ff9999;
}

/* Composite classes for multiple toxic traits */
.toxic.severe-toxic {
  background: linear-gradient(to right, #cf5e54, darkred);
}

.toxic.threat {
  background: linear-gradient(to right, #cf5e54, #7b403b);
}

.severe-toxic.threat {
  background: linear-gradient(to right, darkred, #7b403b);
}

.insult.identity_hate {
  background: linear-gradient(to right, #ba6861, #ff9999);
}

.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
}

.h-custom {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.col-xl-5, .col-xl-4 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.col-xl-5 {
  flex-grow: 0.3;
  margin-top: -27px;
}

.register-img-div {
  flex-grow: 1;
  padding-bottom: 10px;
}

.col-xl-4 {
  margin-right: auto;
  flex-grow: 0;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.btn-primary {
  width: auto;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.btn-add-post {
  width: 100%;
  max-width: 200px;
  margin-top: 20px;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  background-color: #0056b3;
  color: white;
}

.btn-add-post:hover {
  background-color: #00408d;
}

.btn {
  margin-top: 10px;
  width: 100%;
  max-width: 100px;
  padding: 10px 20px;
}

.btn-post-comment {
  margin-top: 3px;
  width: 100%;
  max-width: 200px;
  padding: 10px 20px;
}

.delete-button {
  background: none;
  border: none;
  color: rgb(177, 171, 171);
  cursor: pointer;
  font-size: 1em;
  padding: 0;
  text-decoration: underline;
}

.delete-button:hover {
  color: #e62538;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.comment-user {
  font-weight: bold;
  margin-bottom: 5px;
}

.comments {
  margin-top: 20px;
}

.comment {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}

hr {
  border: 0;
  height: 1px;
  background-color: #ccc;
  margin-top: 20px;
  margin-bottom: 20px;
}

.footer {
  position: absolute;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #0056b3;
}

.footer p {
  margin-top: 25px;
  font-size: 12px;
  color: #fff;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
  .container {
    width: 95%;
  }

  .post {
    padding: 15px;
  }

  .edit-delete {
    flex-direction: column;
    
  }

  .edit, .delete {
    width: 100%;
    margin-bottom: 10px;
  }

  .navbar-brand {
    font-size: 24px;
  }

  .form-control {
    width: 100%;
  }

  .h-custom {
    height: auto;
    padding: 20px 0;
  }

  .col-xl-5, .col-xl-4 {
    padding: 15px;
  }

  .navbar-right {
    margin-top: 0;
  }
}

@media (max-width: 480px) {
  .container {
    width: 100%;
  }

  .navbar-brand {
    font-size: 20px;
  }

  .edit, .delete, .btn, .btn-primary, .btn-add-post, .btn-post-comment {
    width: 100%;
    padding: 10px;
  }

  .post h2 {
    font-size: 1.2em;
  }
}

@media (max-height: 800px) {
  .h-custom {
    height: auto;
    padding: 20px 0;
  }

  .post {
    padding: 10px;
  }

  .edit, .delete {
    font-size: 0.8em;
  }
}

@media (max-height: 600px) {
  .h-custom {
    height: auto;
    padding: 10px 0;
  }

  .post {
    padding: 5px;
  }

  .edit, .delete {
    font-size: 0.7em;
  }
}